.gameEntry {
    background-color:gray;
    cursor:pointer;
    color:white;
    margin:10px;
    border-radius: 25px;
    width: 70%;
    height:10%;
    border:5px solid black;
    padding:20px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-around;
}
.achievementSetEntry {
    background-color:gray;
    cursor:pointer;
    color:white;    
    margin:10px;
    border-radius: 25px;
    width: 70%;
    height:10%;
    border:5px solid black;
    padding:20px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-around;
}
.achievementEntry {
    background-color:gray;
    color:white;
    margin:10px;
    border-radius: 25px;
    width: 70%;
    height:10%;
    border:5px solid black;
    padding:20px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-around;    
}

.gameName {
    font-weight:1000;
    font-size:xx-large;
}
.platform {
    font-size:large;
}
.percent {
    font-size:large;
}
.setName {
    font-weight:1000;
    font-size:xx-large;    
}
.achievementName {
    font-weight:1000;
    font-size:xx-large;
}
.achievementDesc {
    font-size:medium;
    margin:10px;
}
.achievementDate {
    font-size:large;
}
ul {
    list-style-type:none;
}
#backButton {
    font-size:xx-large;
    border-radius: 25px;
    border:10px solid black;
    cursor:pointer;
}
.unobtainedAchImg {
    filter:grayscale(100%);
}